@page "/stevestats"
@model WarzoneStats.Pages.SteveStatsPageModel
@{
    Layout = null;
}

<h1>Steve's Statisitcs:</h1>
<p>
    Wins: @Model.SteveStatResult.br.wins
</p>
<p>
    Kills: @Model.SteveStatResult.br.kills
</p>
<p>
    K/D Ratio: @Model.SteveStatResult.br.kdRatio
</p>
<p>
    Downs: @Model.SteveStatResult.br.downs
</p>
<p>
    Top Ten: @Model.SteveStatResult.br.topTen
</p>
<p>
    Contracts: @Model.SteveStatResult.br.contracts
</p>
<p>
    Revives: @Model.SteveStatResult.br.revives
</p>
<p>
    Score: @Model.SteveStatResult.br.score
</p>
<p>
    Deaths: @Model.SteveStatResult.br.deaths
</p>