@page "/wyattstats"
@model WarzoneStats.Pages.WyattStatsPageModel
@{
    Layout = null;
}

<h1>Wyatt's Statisitcs:</h1>
<p>
   Wins: @Model.WyattStatResult.br.wins
</p>
<p>
    Kills: @Model.WyattStatResult.br.kills
</p>
<p>
    K/D Ratio: @Model.WyattStatResult.br.kdRatio
</p>
<p>
    Downs: @Model.WyattStatResult.br.downs
</p>
<p>
    Top Ten: @Model.WyattStatResult.br.topTen
</p>
<p>
    Contracts: @Model.WyattStatResult.br.contracts
</p>
<p>
    Revives: @Model.WyattStatResult.br.revives
</p>
<p>
    Score: @Model.WyattStatResult.br.score
</p>
<p>
    Deaths: @Model.WyattStatResult.br.deaths
</p>

